@using Modelo
@model Cliente
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class=" row ">
    <div class=" col-se-10 ">
        <form method="post" asp-action="Create">
            <div class="form-group">
                <label class="control-label"> Nombre:</label>
                <input class="form-control" asp-for="NombreCliente" />
            </div>
            <div class="form-group">
                <label class="control-label"> Apellido:</label>
                <input class="form-control" asp-for="ApellidoCliente" />
            </div>
            <div class="form-group">
                <label class="control-label"> Cedula:</label>
                <input class="form-control" asp-for="CedulaCliente" />
            </div>
            <div class="form-group">
                <label class="control-label"> Telefono:</label>
                <input class="form-control" asp-for="TelefonoCliente" />
            </div>
            <div class="form-group">
                <label class="control-label"> Garante:</label>
                <input class="form-control" asp-for="Garante.NombreGarante" />
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Crear el cliente" />
            </div>
        </form>
    </div>
</div>